.gform_body .gfield_label {
    display: none !important;
}
.gform_body > ul li {
  padding-right: 0px !important;
}

.gform_body > ul > li div.ginput_container {
  position: relative !important;
}

.gform_body > ul li input {
  width: 100% !important;
  padding: 1rem !important;
  border-radius: 1px !important;
}

.gform_body > ul li select {
  width: 100% !important;
  padding: 1rem !important;
  border-radius: 1px !important;
}


input#gform_submit_button_1 {
  background-color: #309958;
  padding: .9rem 1rem;
  font-size: 18px;
  color: #fff;
  width: 100%;
  border: #278049 3px solid;
  text-transform: uppercase;
  font-weight: 700;
  white-space: normal;
}

.ginput_container:before {
  content: "*" !important;
  color: red;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -16px;
  top: 19px;
  bottom: 0;
  
}

// Horizontal Form


#main-contact-form form .gform_footer.top_label {text-align:center;}
#main-contact-form form .ginput_container:before {
  content: "" !important;
  display: none;}
#main-contact-form form .gform_footer.top_label > input {
  background-color: #309958;
  padding: .9rem 1rem;
  font-size: 18px;
  color: #fff;
  border: #278049 3px solid;
  text-transform: uppercase;
  font-weight: 700;
  white-space: normal;
}

p.horizontal-form-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2rem;
}

@media(min-width:600px){
  #main-contact-form form .gform_footer.top_label > input {width:auto;}
  p.horizontal-form-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.2rem;
  }
}
@media(min-width:768px) {
  #main-contact-form form ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  #main-contact-form form ul li {
    width: 33%;
    padding-right: 20px !important;
  }
  
  #main-contact-form form ul li:nth-child(2) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  #main-contact-form form ul li:nth-child(3) {
    padding-right: 0px !important;
    padding-left: 20px;
  }
  #main-contact-form form ul li:nth-child(5) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  #main-contact-form form ul li:nth-child(6) {
    padding-right: 0px !important;
    padding-left: 20px;
  }
}
